<form
  class="search-form-container"
  #form="ngForm"
  (ngSubmit)="onSubmit(form.value)"
  action="/search"
>
  <div class="search-box">

    <input
      type="text"
      [(ngModel)]="query"
      name="query"
      class="form-control search-input"
      aria-label="Buscar por título, autor, palabras clave..."
      placeholder="Buscar por título, autor, palabras clave..."
    >

    <button
      type="submit"
      class="btn search-button"
    >
      {{ ('search.form.search' | translate) }}
    </button>

  </div>
</form>