.search-form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-inline: 2rem;
  margin-top: auto;
}

.search-box {
  position: relative;
  width: clamp(350px, 70vw, 950px);
}

/* INPUT */
.search-input {
  width: 100%;
  height: clamp(48px, 5vw, 70px);

  padding-top: 0;
  padding-bottom: 0;
  padding-left: clamp(20px, 3vw, 45px);
  padding-right: clamp(125px, 16vw, 190px);

  border: none;
  border-radius: 50px;
  box-shadow: none;

  font-size: clamp(16px, 2.5vw, 24px);
  font-weight: bold;
  font-style: italic;
  color: #1b1a3d;
}

.search-input:focus {
  border: none;
  box-shadow: none;
  
}

.search-input::placeholder {
  color: #757575;
  opacity: 1;
}

/* BOTÓN */
.search-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  width: clamp(115px, 18vw, 174px);
  height: clamp(48px, 5vw, 70px);

  border: 2px solid #fff;
  border-radius: 50px;

  background-color: #1b1a3d;
  color: #fff;

  font-size: clamp(17px, 2.8vw, 28px);
  font-weight: bold;
  font-style: italic;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #061122;
  }
}