.search-container {
    display: flex;
    justify-content: center;
    padding-inline: 2rem;
    margin-top: 64px;

}

.search-container .input-group {
    width: clamp(350px, 70vw, 950px);
    height: clamp(40px, 60px, 70px);

}

.input-group {
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .08);
}

.search-button {
    border-radius: 50px;
    width: 174px;
    background-color: #1b1a3d;
    color: white;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;

    &:hover {
        background-color: #061122;
    }
}

.form-control {
    border: none;
    box-shadow: 0 1rem 3rem rgba($black, .175);
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    padding-left: 45px;
    color: #757575;
}

.form-control:focus {
    box-shadow: none;
    border: none;
}