<div class="background-image-container mt-ncs">
  <div class="home-news-content py-4 px-2 py-sm-5 px-sm-0 mt-0 mb-4">
  <div class="container">
    <div class="home-news-content py-4 px-2 py-sm-5 px-sm-0 mt-0 mb-4">
      <div class="d-flex flex-wrap">
        <div class="banner-text-home">
          <h1 class="display-2 home-font-lemon">Repositorio Institucional</h1>
          <p><!-- <i class="fas fa-circle-info"></i> --> Accedea documentos académicos, tesis, artículos y más recursos </p>
          <p>digitales desde cualquier lugar</p>
        </div>
      </div>
      <div class="d-flex flex-wrap">
        <div class="">
          <ds-themed-search-form></ds-themed-search-form>
        </div>
        </div>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp"
      srcset="assets/dspace-uthh/images/banner-uthh.png 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">
    <source type="image/jpg"
      srcset="assets/dspace-uthh/images/banner-uthh.png 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w">
    <img alt=""
      [src]="'assets/dspace-uthh/images/banner-uthh.png'" />
  </picture>
  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">&#64;inspiredimages</a></small>
</div>