<div class="background-image-container position-relative min-vh-100">
  <picture class="background-image position-absolute top-0 start-0 w-100 h-100">
    <source
      type="image/webp"
      srcset="
        assets/dspace-uthh/images/banner-uthh.png 2000w,
        assets/dspace-uthh/images/banner-uthh.png 1200w,
        assets/dspace-uthh/images/banner-uthh.png 768w">

    <source
      type="image/jpg"
      srcset="
        assets/dspace-uthh/images/banner-uthh.png 2000w,
        assets/dspace-uthh/images/banner-uthh.png 1200w,
        assets/dspace-uthh/images/banner-uthh.png 768w">

    <img
      class="w-100 h-100 object-fit-cover"
      src="assets/dspace-uthh/images/banner-uthh.png"
      alt="">
  </picture>
  <div class="position-relative min-vh-100 d-flex align-items-center justify-content-center">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-12 col-lg-10">
          <h1 class="home-font-lemon mb-3">
            Repositorio Institucional
          </h1>
          <h3 class="mb-1">
            Accede a documentos académicos, tesis, artículos y más recursos
          </h3>
          <h3 class="mb-4">
            digitales desde cualquier lugar
          </h3>
          <div class="d-flex justify-content-center">
            <ds-themed-search-form></ds-themed-search-form>
          </div>

        </div>

      </div>

    </div>

  </div>


  <!-- Créditos -->
  <small class="credits position-absolute bottom-0 end-0 p-2">
    Photo by
    <a href="https://www.pexels.com/@inspiredimages">
      &#64;inspiredimages
    </a>
  </small>

</div>